/**********************************************
*** GENERAL
**********************************************/


/*remove arrow keys in input field */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.fixedFallPoint {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 520px;
    background-color: #EB4D4D;
    color: whitesmoke;
    font-size: 15px;
    font-family: 'Lato';
    font-weight: 300;
    text-align: center;
    padding: 10px;
    width: 120px;
    height: 70px;
    text-transform: uppercase;
}

#fallNo {
    font-size: 30px;
}


/*number limit*/

.numberLimit {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 558px;
    color: #EB4D4D;
    font-size: 18px;
    font-family: 'Lato';
    text-align: center;
    padding: 10px;
    width: 384px;
    text-transform: uppercase;
}

.final-score {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 520px;
    color: #555;
    font-size: 18px;
    font-family: 'Lato';
    text-align: center;
    padding: 10px;
    width: 160px;
    text-transform: uppercase;
}

.final-score:focus {
    outline: none;
}

#dice-1 {
    top: 120px;
}

#dice-2 {
    top: 250px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}


/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;
}

.active {
    background-color: #f7f7f7;
}

.active .player-name {
    font-weight: 300;
}

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    right: 10px;
}

.player-current-box {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-score {
    font-size: 30px;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    font-weight: 600;
}

button:hover i {
    margin-right: 20px;
}

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new {
    top: 45px;
}

.finalScore {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 400;
    padding: 4px;
}

.btn-roll {
    top: 403px;
}

.btn-hold {
    top: 467px;
}

.winner {
    background-color: #f7f7f7;
}

.winner .player-name {
    font-weight: 300;
    color: #EB4D4D;
}


/* 3d dice style */

.dice {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    grid-template-rows: auto;
    justify-items: center;
    padding: 2rem;
    perspective: 600px;
}

.die-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 8rem;
    list-style-type: none;
    transform-style: preserve-3d;
    width: 8rem;
}

.even-roll {
    transition: transform 1.25s ease-out;
}

.odd-roll {
    transition: transform 1.25s ease-out;
}

.die-item {
    background-color: #fefefe;
    box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(0, 0, 0, 0.3), inset 0.5rem -0.25rem 0.5rem rgba(0, 0, 0, 0.15);
    display: grid;
    grid-column: 1;
    grid-row: 1;
    grid-template-areas: "one two three" "four five six" "seven eight nine";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    padding: 1rem;
    width: 100%;
}

.dot {
    align-self: center;
    background-color: #676767;
    border-radius: 50%;
    box-shadow: inset -0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
    display: block;
    height: 1.25rem;
    justify-self: center;
    width: 1.25rem;
}

.even-roll[data-roll="1"] {
    transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}

.even-roll[data-roll="2"] {
    transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
}

.even-roll[data-roll="3"] {
    transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
}

.even-roll[data-roll="4"] {
    transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
}

.even-roll[data-roll="5"] {
    transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
}

.even-roll[data-roll="6"] {
    transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
}

.odd-roll[data-roll="1"] {
    transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
}

.odd-roll[data-roll="2"] {
    transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
}

.odd-roll[data-roll="3"] {
    transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
}

.odd-roll[data-roll="4"] {
    transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
}

.odd-roll[data-roll="5"] {
    transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
}

.odd-roll[data-roll="6"] {
    transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
}

[data-side="1"] {
    transform: rotate3d(0, 0, 0, 90deg) translateZ(4rem);
}

[data-side="2"] {
    transform: rotate3d(-1, 0, 0, 90deg) translateZ(4rem);
}

[data-side="3"] {
    transform: rotate3d(0, 1, 0, 90deg) translateZ(4rem);
}

[data-side="4"] {
    transform: rotate3d(0, -1, 0, 90deg) translateZ(4rem);
}

[data-side="5"] {
    transform: rotate3d(1, 0, 0, 90deg) translateZ(4rem);
}

[data-side="6"] {
    transform: rotate3d(1, 0, 0, 180deg) translateZ(4rem);
}

[data-side="1"] .dot:nth-of-type(1) {
    grid-area: five;
}

[data-side="2"] .dot:nth-of-type(1) {
    grid-area: one;
}

[data-side="2"] .dot:nth-of-type(2) {
    grid-area: nine;
}

[data-side="3"] .dot:nth-of-type(1) {
    grid-area: one;
}

[data-side="3"] .dot:nth-of-type(2) {
    grid-area: five;
}

[data-side="3"] .dot:nth-of-type(3) {
    grid-area: nine;
}

[data-side="4"] .dot:nth-of-type(1) {
    grid-area: one;
}

[data-side="4"] .dot:nth-of-type(2) {
    grid-area: three;
}

[data-side="4"] .dot:nth-of-type(3) {
    grid-area: seven;
}

[data-side="4"] .dot:nth-of-type(4) {
    grid-area: nine;
}

[data-side="5"] .dot:nth-of-type(1) {
    grid-area: one;
}

[data-side="5"] .dot:nth-of-type(2) {
    grid-area: three;
}

[data-side="5"] .dot:nth-of-type(3) {
    grid-area: five;
}

[data-side="5"] .dot:nth-of-type(4) {
    grid-area: seven;
}

[data-side="5"] .dot:nth-of-type(5) {
    grid-area: nine;
}

[data-side="6"] .dot:nth-of-type(1) {
    grid-area: one;
}

[data-side="6"] .dot:nth-of-type(2) {
    grid-area: three;
}

[data-side="6"] .dot:nth-of-type(3) {
    grid-area: four;
}

[data-side="6"] .dot:nth-of-type(4) {
    grid-area: six;
}

[data-side="6"] .dot:nth-of-type(5) {
    grid-area: seven;
}

[data-side="6"] .dot:nth-of-type(6) {
    grid-area: nine;
}

@media (min-width: 900px) {
    .dice {
        perspective: 1300px;
    }
}